*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%; min-width: $minwidth; line-height:1;font-size:14px; font-family:$fontfamily; -ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:$fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.calculator{
  width: 393px;
  height: 852px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display{
  display: block;
  font-size: 32px;
  color: white; 
  text-align: right;
  margin: 0 39px;
  letter-spacing: 0.06em;
}

.buttons{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 77px);
  grid-template-rows: repeat(4, 77px);
  justify-content: center;
  gap: 13px; 
  margin: 32px 0;
}

.calc-button{
  border-radius: 50%;
  font-size: 32px;
  color: white;  
}

.number{
  background-color: #504D4D;
}

.operator{
  background-color: #FAB41C;
}

.clear{
  background-color: #D9D9D9;
  color: #030303;
}